
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


:root {
  --primary: #1aac83;
  --error: #e7195a;
}
/* 
.home {
    display: flex;
    justify-content: center;
    
} */


  body {
    background-color: red;
  }
  .get {
    color: red;
  }

  .carouselImage {
    width: 100%
  }
